$primary:       #ffcb00 !default;
$secondary:     #f3969a !default;

// minty color reset
.btn-primary{
	color: #575757;
	background-color: #ffcb00;
	border-color: #ffcb00;
}
.btn-primary:hover {
  color: #575757;
  background-color: #ffcb00;
  border-color: #ffcb00;
}
.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #575757;
  background-color: none;
	border-color: none;
  box-shadow: none;
}

.btn-check:checked + .btn-primary,
.btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  color: #575757;
  background-color: none;
  border-color: none;
}

.btn-check:checked + .btn-primary:focus,
.btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-primary:disabled, .btn-primary.disabled {
  color: #575757;
  background-color: none;
  border-color: none;
}


.btn-secondary{
	color:#666;
	background-color:#f4f4f4;
	border-color:#fff;

}
.btn-secondary:hover {
	color:#666;
	background-color:#f4f4f4;
	border-color:#fff;
}

.btn-check:focus + .btn-secondary, .btn-secondary:focus {
	color:#666;
	background-color:#f4f4f4;
	border-color:#fff;
  box-shadow: none;
}

.btn-check:checked + .btn-secondary,
.btn-check:active + .btn-secondary, .btn-secondary:active, .btn-secondary.active,
.show > .btn-secondary.dropdown-toggle {
	color:#666;
	background-color:#f4f4f4;
	border-color:#fff;
}

.btn-check:checked + .btn-secondary:focus,
.btn-check:active + .btn-secondary:focus, .btn-secondary:active:focus, .btn-secondary.active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-secondary:disabled, .btn-secondary.disabled {
	color:#666;
	background-color:#f4f4f4;
	border-color:#fff;
}
.form-control:focus {
  color: #575757;
  background-color: #fff;
  border-color: #ffcb00!important;
  outline: 0;
  box-shadow: 0 0 0 0 rgb(255,255,255)!important;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #575757;
  background-color: #fff9e1;
}

.dropdown-item.active {
  color: #575757;
  text-decoration: none;
  background-color: #ffcb00;
}
.dropdown-item:active {
  color: #575757;
  text-decoration: none;
  background-color:none;
}
// 마이페이지 네브 타이틀
.dropdown-item.title {
  // color: #575757;
  color: #575757;
  text-decoration: none;
  background-color: #f4f4f4;
}

// 내 정보 > 식사 매너 점수: start
.highlighter-active {
	display: block;
	width: 100%;
	padding: 0.5rem 1rem;
	clear: both;
	font-weight: 400;
	text-align: inherit;
	text-decoration: none;
	white-space: nowrap;
	// white-space: normal;
	background-color: transparent;
	border: 0;
	color: #575757;
	text-decoration: none;
	background-color: #ffcb00;
}
.highlighter-active-nega {
	display: block;
	width: 100%;
	padding: 0.5rem 1rem;
	clear: both;
	font-weight: 400;
	text-align: inherit;
	text-decoration: none;
	white-space: nowrap;
	// white-space: normal;
	background-color: transparent;
	border: 0;
	color: white;
	text-decoration: none;
	background-color: #ff7851;
}
// 내 정보 > 식사 매너 점수: end

.text-primary {
  --bs-text-opacity: 1;
  color: #ffcb00 !important;
}

.form-control:focus {
  color: #888;
  background-color: #fff;
  border-color: #ffcb00;
  outline: 0;
  box-shadow: 0 0 0 0 rgb(255,255,255);
}
.form-range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 0 rgb(255,255,255);
}

.form-range:focus::-moz-range-thumb {
  box-shadow: 0 0 0 0 rgb(255,255,255);
}
.was-validated .form-control:valid:focus, .form-control.is-valid:focus {
  border-color: #ffcb00;
  box-shadow: 0 0 0 0 rgb(255,255,255);
}
.was-validated .form-select:valid:focus, .form-select.is-valid:focus {
  border-color: #ffcb00;
  box-shadow: 0 0 0 0 rgb(255,255,255);
}
.was-validated .form-check-input:valid:focus, .form-check-input.is-valid:focus {
  box-shadow: 0 0 0 0 rgb(255,255,255);
}
.form-select:focus {
  border-color: #ffcb00;
  outline: 0;
  box-shadow: 0 0 0 0 rgb(255,255,255);
}
.form-control:disabled, .form-control[readonly] {
	&:focus{
		border-color: #ffcb00;
  	outline: 0;
  	box-shadow: 0 0 0 0 rgb(255,255,255);
	}
  background-color: #f7f7f9;
  opacity: 1;
}

dl, dt, dd, ol, ul, li{
	margin: 0;
	padding: 0;
}

ol, ul, dl {
	list-style: none;
}

.form-check-input:checked{
	background-color: #ffcb00;
	border-color:#ffcb00;
}
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, button, video button a{
    font-family: 'GmarketSansLight';
}